
.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

  & > p {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #555555;
    width: 50%;
    text-align: center;
  }
}

#pieChart {
  display: block;
  position: absolute; 
  left:25%; top:25%;
}

/* overlay to hide unstyled html */
#loadOverlay{
  display: none;
}