
.d3-container {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*justify-content: flex-start;*/
  /*align-content: flex-start;*/
  align-items: center;
  position: absolute;
  top: 30px;
}

.info-box {
  padding-top: 100px;
  width: 55%;
  @media (max-width: 768px) {
    width: 90%;
  }
}
.info-box > .center-icons-titles {
  padding-right: 0;
}
.info-box p {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #555555;
  text-align: center;
  letter-spacing: 0;
  font-weight: normal;
  padding-bottom: 10px;
}

#pieChart {
  position: relative;
  @media (max-width: 400px) {
    margin-left: -30px;
  }
   
}

/* overlay to hide unstyled html */
#loadOverlay{
  display: none;
}