
.info-box {
  /*position: relative;*/
  /*left: 50%;*/
  /*transform: translate(-40%);*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

  & > p {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #555555;
    width: 55vw;
    text-align: center;
    @media (max-width: 800px) {
      width: 80vw;
    }
  }
}

#pieChart {
  /*display: block;*/
  position: relative; 
  /*left:25%; top:25%;*/
}

/* overlay to hide unstyled html */
#loadOverlay{
  display: none;
}