/*.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: .5s;
}
@-webkit-keyframes fadeIn{0%{opacity:.2}to{opacity:1}}
@keyframes fadeIn{0%{opacity:.2}to{opacity:1}}*/

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

.home-header {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
  url(/images/background-header2.jpeg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  @media (max-width: 800px) {
    padding: 0;
  }
 
 /* margin-top: -85px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;*/
}

.name {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  font-size: 5.1em;
  @media (max-width: 800px) {
    font-size: 3em;
  }
  font-weight: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  color: white;
  text-align: center;
}

.hover-text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  position: absolute;
  text-transform: uppercase;
  font-size: 2.5em;
  @media (max-width: 800px) {
    font-size: 1.5em;
    margin-top: 50px;
  }
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
  color: white;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: crosshair;
}

h1 {
  /*margin: 0;*/
  white-space: nowrap;
}

/*h2 {
  text-transform: uppercase;  
  margin-bottom: 20px;
  font-size: 1em;
  white-space: nowrap;
}
*/

.nav-wrapper {
  width: 100%;
  margin: auto;
  padding: 20px 5px;
}

.top-right {
    /*position: relative;*/
    /*width: 100%;*/
    margin: 0px;
    /*top: 0;*/
    /*right: 0;*/
    /*z-index: 10;*/
    /*width: 80%;*/
    /*height: 32px;*/
    /*text-align: right;*/
    /*display: -webkit-box;*/
    /*display: flex;*/
}

.nav-button {
    color: #777;
    fill: #777;
    opacity: .5;
    background-color: hsla(0,0%,100%,.8);
    /*display: inline-block;*/
    height: 32px;
    padding: 0 11px;
    font-size: 11px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    line-height: 30px;
    /*letter-spacing: .04em;*/
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    float: right;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

nav {
  font-family: 'Open Sans', sans-serif;
  /*position: absolute;*/
  color: white;
  text-align: right;
}

.container {
  width: 80%;
  /*margin: auto;*/
}

.about-me {
  @media (max-width: 800px) {
    font-size: 15px;
    padding: 30px 0px 0px 10px;
  }
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555555;
  padding: 40px 0px 20px 0px;
}

.skills {
  font-family: 'Oswald', sans-serif;
  font-size: 5.1em;
  font-weight: 400;
  color: #555555;
  padding: 40px 0px 20px 0px;
  text-align: center;
}

/* overlay to hide unstyled html */
#loadOverlay{
  display: none;
}