

.home-header {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
  url(/images/background-header2.jpeg) no-repeat center center;
  background-size: cover;
  height: 100vh;
 /* margin-top: -85px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;*/
}

.name {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  font-size: 5.1em;
  @media (max-width: 800px) {
    font-size: 3em;
  }
  font-weight: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  color: white;
  text-align: center;
}

.designer{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  position: absolute;
  font-size: 2.5em;
  @media (max-width: 800px) {
    font-size: 1.5em;
    margin-top: 50px;
  }
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
  color: white;
  text-align: center;
}

h1 {
  /*text-transform: uppercase;*/
  margin: 0;
  /*font-size: 3rem;*/
  white-space: nowrap;
}

h2 {
  text-transform: uppercase;  
  margin-bottom: 20px;
  /*font-size: 1em;*/
  white-space: nowrap;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  /*padding-left: -2px;*/
}

nav {
  font-family: 'Open Sans', sans-serif;
  /*position: absolute;*/
  color: white;
  text-align: right;
}

/*.body-heading{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}*/
.intro-paragraph {
  @media (max-width: 800px) {
    width: 100%;
    font-size: 14px;
    padding: 10px 26px 0px 10px;
  }
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 50%;
  margin: 12px;
  padding: 40px 30px 0px 30px;
}