/*html { 
  background: url(//unsplash.com/photos/YZbrSfZxNOw) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.home-header {
  margin-top: -75px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -20px;
  color: white;
  text-align: center;
}

.designer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
  color: white;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 4rem;
  /*white-space: nowrap;*/
}

h2 {
  text-transform: uppercase;  
  margin: 0;
  font-size: 1.5rem;
}

/*nav {
  position: absolute;
  color: white;
  text-align: right;
}*/