/* isolate entire page in a class to eliminate conflicts */
.photo-search-container {

  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  main {
    position: absolute;
    justify-content: center;
    top: 150px;
    /*left: 50%;*/
    width: 80%;
    min-height: 100px;
    margin: 0 auto;
  }

  h3 {
    /*color: white;*/
    justify-content: center;
    /*font-family: 'Oswald', */
  }

  .photo-list img {
    height: 200px;
    float: left;
    display: inline-flex;
    padding: 10px;
  }

}