

.random-colors-container {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  position: absolute;
  top: 30px;
}

/*div.ready {
  transform: translateY(0px);
}*/

#output {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  height: 60vh;
  width: 100vw;
 /* transform: translateY(10px);
  transition: transform 1s;*/
}

  
.info-box-colors {
  padding-top: 100px;
  width: 90%;
}
.info-box-colors > .center-icons-titles {
  padding-right: 0;
}

.info-box-colors p {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #555555;
  text-align: center;
  letter-spacing: 0;
  font-weight: normal;
  padding-bottom: 10px;
  /*width: 500px;*/
}

.dot {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
}

  /*Bootstrap button outline override*/
.btn-secondary {
  margin-left: -5px;
  width: 150px;
  text-align: center;
  background-color: #8E8E38;
  padding: 12px 22px;
  margin: 10px 20px;
  transition: all .5s;
  border-radius: 24px;
  outline: none;
}
.btn-secondary {
  color: #fff;
  outline: none;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #8E8E38;
  opacity: .5;
  outline: none;
}
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:hover {
  outline: none !important;
}

/*.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .5px;
  font-weight: bolder;
}*/

#loadOverlay{
  display: none;
}



