.random-colors-container {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50px;
  /*overflow-y: hidden;*/
}
    
  #output {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    /*position: relative;*/
    /*top: 100px;*/
    height: 60vh;
    /*scroll-behavior: none;*/
    /*overflow-y: hidden;*/
    width: 100vw;
  }
  
  
  .info-box-colors {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /*padding-bottom: 10px;*/
    position: relative;
    width: 50%;
    /*@media (max-width: 800px) {
      width: 90vw;
    }*/
  }

  .info-box-colors p {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #555555;
    text-align: center;
    letter-spacing: 0;
    font-weight: normal;
    padding-bottom: 10px;
  }

  .dot {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
  }

  /*Bootstrap button outline override*/
.btn-secondary {
  width: 150px;
  text-align: center;
  background-color: #8E8E38;
  padding: 12px 22px;
  margin: 10px 20px;
  transition: all .5s;
  border-radius: 24px;
  outline: none;
}
.btn-secondary {
  color: #fff;
  outline: none;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #7AC5CD;
  outline: none;
}
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:hover {
  outline: none !important;
}

/*.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .5px;
  font-weight: bolder;
}*/

#loadOverlay{
  display: none;
}



