.backdrop  {
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
}
a {
  color: #0078ff;
}

.three-container {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
  padding-top: 30px;
  /*padding-bottom: 100px;*/
  left: 50%;
  transform: translate(-50%);
  width: 90%;
}

.info-box-three {
  background-color: transparent;
  padding-top: 100px;
  width: 60%;
  
}
.info-box-three > .center-icons-titles {
  padding-right: 0;
  color: #9999FF;
}

.info-box-three p {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #9999FF;
  text-align: center;
  letter-spacing: 0;
  font-weight: normal;
  padding-bottom: 10px;
}

/* overlay to hide unstyled html */
#loadOverlay{
  display: none;
}