.backdrop  {
        background-color: #000000;
        margin: 0px;
        overflow: hidden;
      }
a {
  color: #0078ff;
}

.info-box-three {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background-color: #000000;
}
.info-box-three p {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    /*color: #555555;*/
    color: #9999FF;
    width: 40%;
    text-align: center;
    @media (max-width: 800px) {
      width: 90%;
    }
}

/* overlay to hide unstyled html */
#loadOverlay{
  display: none;
}