/*.blah {
 width: 100%;
}*/
.todo-container {
  width: 650px;
  min-width: 650px;
  min-height: 175px;
  background-color: #c5c5d0;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0px 20px 10px;
  font-family: 'Raleway', sans-serif;
  /* add button */
  /* edit button */
}
.todo-container .title-row {
  text-align: center;
  font-weight: 200;
  color: #4d4c5d;
  padding: 10px;
}
.todo-container .title-row p {
  font-size: 46px;
  padding: 0px;
}
.todo-container .add-todo-row {
  padding-bottom: 12px;
}
.todo-container .todo {
  font-size: 20px;
  font-weight: 200;
  padding: 12px 0px 0px 0px;
  height: 57px;
  color: #42424c;
  &.completed .todo-title {
    text-decoration: line-through;
    color: #6a6880;
  }
}
.todo-container .btn-primary {
  float: right;
  width: 70px;
  background-color: #6a6880;
  color: white;
  border-color: #6a6880;
}
.todo-container .btn-primary:hover,
.todo-container .btn-primary:focus,
.todo-container .btn-primary:active {
  background-color: #4d4c5d;
  color: #FFF;
  border-color: #4d4c5d;
  outline: none;
}

.todo-container .btn-default:active,
.todo-container .btn-default {
  float: right;
  font-style: normal;
  color: #42424c;
  width: 70px;
  outline: none;
}
.todo-container .close {
  padding-right: 10px;
  font-size: 30px;
  outline: none;
}

