.todo-header-container {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  position: absolute;
  top: 30px;
}

.info-box-todo {
  padding-top: 100px;
  width: 55%;
  @media (max-width: 768px) {
    width: 90%;
  }
}
.info-box-todo > .center-icons-titles {
    padding-right: 0;
  }
.info-box-todo p {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #555555;
  text-align: center;
  letter-spacing: 0;
  font-weight: normal;
  padding-bottom: 10px;
}

.todo-container {
  width: 650px;
  min-width: 300px;
  min-height: 175px;
  background-color: #c5c5d0;
  border-radius: 15px;
  margin: 50px auto 100px;
  /*margin-top: 50px;*/
  padding: 0px 20px 10px;
  font-family: 'Raleway', sans-serif;
  @media (max-width: 640px) {
    width: 90vw;
    padding: 0px 10px 5px;
  }
}


.todo-container .title-row {
  text-align: center;
  font-weight: 200;
  color: #4d4c5d;
  padding: 10px;
}
.todo-container .title-row p {
  font-size: 46px;
  padding: 0px;
}
.todo-container .add-todo-row {
  padding-bottom: 12px;
}
.todo-container .todo {
  font-size: 20px;
  font-weight: 200;
  padding: 12px 0px 0px 0px;
  height: 57px;
  color: #42424c;
  &.completed .todo-title {
    text-decoration: line-through;
    color: #6a6880;
  }
  @media (max-width: 600px) {
    font-size: 16px;
  }
}
.todo-container .btn-primary {
  float: right;
  width: 80px;
  background-color: #6a6880;
  color: white;
  border-color: #6a6880;
  @media (max-width: 540px) {
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: 400px) {
    width: 50px;
    min-width: 20px;
  }
}
.todo-container .btn-primary:hover,
.todo-container .btn-primary:focus,
.todo-container .btn-primary:active {
  background-color: #4d4c5d;
  color: #FFF;
  border-color: #4d4c5d;
  outline: none;
}

.todo-container .btn-default:active,
.todo-container .btn-default {
  float: right;
  font-style: normal;
  color: #42424c;
  width: 80px;
  outline: none;
  @media (max-width: 600px) {
    width: 60px;
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (max-width: 400px) {
    width: 40px;
    min-width: 20px;
  }
}
.todo-title {
  @media (max-width: 540px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.todo-container .close {
  padding-right: 10px;
  font-size: 30px;
  outline: none;
  @media (max-width: 540px) {
    padding-left: 5px;
    /*padding-right: 2px;*/
  }
}
@media (max-width: 540px) {
  .col-shrink {
    padding-right: 5px;
  }
  .col-shrink-left {
    padding-left: 5px;
  }
  }
/* overlay to hide unstyled html */
#loadOverlay{
  display: none;
}

