
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}


.navbar-collapse a {
  width: fit-content;
}

.navbar-custom {
  background-color: #333333;
  opacity: .8;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #fff;
  opacity: 1;
}
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
  color: #8E8E38;
  opacity: 1;
  background-color: transparent;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  color: white;
}
.navbar-custom .nav li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  opacity: 1;

}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: white;
  outline: none;
}
.navbar-nav > li > a {
  margin: 0 20px;
  padding: 15px 1px 1px 1px;

}
.navbar-custom .navbar-nav > .active > a {
  color: white;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
}

.hvr-underline-from-center {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  /*position: relative;*/
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #7AC5CD;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, 
.hvr-underline-from-center:focus:before, 
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2.2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #333333;
    padding: 1px 0;
  }
  .navbar-custom.affix .nav li a {
    color: white !important;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 2em;
    /*color: white !important;*/
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix .navbar-brand:hover {
    color: #8E8E38 !important;
  }
}

