<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://use.fontawesome.com/2ee6b3c3a6.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <title>michele | WINKELMAN</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="/images/touch/touch-icon-57x57.png">
    <link rel="stylesheet" type="text/css" href="/dist/app.css" />
    <script src="/dist/modernizr-custom.js"></script>
  </head>
  <body>
    {{{body}}}
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/dist/app.js"></script>
  </body>
</html>
