{{!< default}}
<!-- overlay to hide unstyled html -->
<div id="loadOverlay" style="background-color:#E5E5E5; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
<div id="root" class="fadeIn">
  <div class="container-fluid">
    <!-- HEADER -->
    <header class="home-header">
    <!-- testing image load in html instead of css -->
      <!-- <img src="/images/background-header2.jpeg"> -->
      <div class="photo-container" style="background-image: url(/images/background-header2.jpeg)"></div>
      <h1 class="name">michele | WINKELMAN</h1>
      <div title="Hover me!" data-maintext="front-end web developer" data-shaketext="designer" class="hover-text">FRONT-END WEB DEVELOPER</div>
            <!-- <h2 class="designer">designer & front-end web developer</h2> -->
      <!-- TOP NAVIGATION -->
      <div class="top-left"></div>
      <div class="top-right">
        <a title="More" class="btn btn-action nav-button js-popover" href="">
          <svg class="icon-btn icon-btn--dots" version="1.1" viewBox="0 0 32 32" width="32" height="32">
            <path d="M7 15.5c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5 1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5zm21.5-3.5c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5zm-12.5 0c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z"></path>
          </svg>
        </a>
      <!-- close .top-right -->
      </div>
      
      <nav></nav>
    </header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-me">
      <!-- <h2 class="body-heading">Developer. Designer.</h2> -->
      <h3>whatIDo</h3>
      <p>I am a designer pursuing a new career as a developer and am currently enrolled in a 3-month immersive JavaScript bootcamp. I am excited to leverage my 10+ years' experience in graphic design as I transition into front-end web development.</p>
      <h3>whyILoveIt</h3>
      <p>I have always been interested in computers and I love the blend of the technical and the creative. I have an intense willingness to learn and feel most inspired when working through difficult problems to build elegant, functional design solutions. I get excited to see people care about design for the web and I'm thrilled to be part of the growing tech industry.</p>
      <h3>howIGotHere</h3>
      <p>Although I have a B.S. in apparel and textile design, I taught myself graphic design and worked in publishing and print for many years. I got my feet wet in web design and learned basic HTML and CSS while building my own self-promotional website for freelance work. But I'm now really learning how to code at the DaVinci Institute in Westminster, CO as well as through supplemental online courses from Treehouse, Codecademy, and others. I am on the lookout for new opportunities so please contact me at mlwinkelman@gmail.com.</p>
      <!-- close .about-me -->
      </div>
      <div class="col-md-6">
        <h1 class="skills">eat.sleep(code);</h1>
        <!-- <h1>Sleep.</h1>
        <h1>Code.</h1> -->
      </div>
    <!-- close row -->
    </div>
    
  <!-- close .container-->
  </div>
    
  <!-- close .container -->
  </div>
  
<!-- close #root -->
</div> 
  

