{{!< default}}
<div id="root">
  <header class="home-header">
    <img src="/images/background-header2.jpeg">
    <h1 class="name">michele | WINKELMAN</h1>
    <h2 class="designer">designer & front-end developer</h2>
  <nav></nav>
  </header>
  
</div>
