{{!< default}}
<!-- overlay to hide unstyled html -->
<div id="loadOverlay" style="background-color:white; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
<div id="root" class="fadeIn">
  <div class="container-fluid hidden">

    <!-- HEADER -->
    <header class="home-header">
      <!-- <img src="/images/background-header2.jpeg"> -->
      <div class="photo-container"></div>
      <!-- style="background-image: url(/images/background-header2.jpeg)" -->
      <h1 class="name">michele | WINKELMAN</h1>
      <div title="Hover me!" data-maintext="front end web developer" data-shaketext="graphic designer" class="hover-text">FRONT END WEB DEVELOPER</div>

      <!-- TOP NAVIGATION -->
      <div class="home-nav">
        <ul>
          <li>
            <a href="/" class="hvr-underline-from-center">Home</a>
          </li>
          <li>
            <a href="/" class="hvr-underline-from-center">About</a>
          </li>
          <li>
            <a href="/" class="hvr-underline-from-center">Portfolio</a>
          </li>
          <li>
            <a href="/" class="hvr-underline-from-center">Contact</a>
          </li>
        </ul>
      <!-- close .home-nav -->
      </div>
      <div class="top-left">
        <a title="More" class="btn btn-action nav-button js-popover" href="">
          <svg class="icon-btn icon-btn--dots" version="1.1" viewBox="0 0 32 32" width="32" height="32">
            <path d="M7 15.5c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5 1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5zm21.5-3.5c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5zm-12.5 0c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z"></path>
          </svg>
        </a>
      <!-- close .top-left -->
      </div>
    </header>

      <!-- MIDDER -->
      <div class="midder">
        <h1>eat.sleep(code);</h1>
      </div>
    
    <nav></nav>
  <!-- ABOUT -->
  <section class="flex-container">
    <div class="flex-items-default what-i-do">
      <h3>whatIDo</h3>
      <p class="content-text">I am a designer pursuing a new career as a developer and am currently enrolled in a 3-month immersive JavaScript bootcamp. I am excited to leverage my 10+ years' experience in graphic design as I transition into front-end web development. I am on the lookout for new opportunities so please contact me at mlwinkelman@gmail.com.</p>
    </div>
    <div class="flex-items-default why-i-love">
      <h3>whyILoveIt</h3>
      <p class="content-text">I have always been interested in computers and I love the blend of the technical and the creative. I have an intense willingness to learn and feel most inspired when working through difficult problems to build elegant, functional design solutions. I get excited to see people care about design for the web and I'm thrilled to be part of the growing tech industry.</p>
    </div>
    <div class="flex-items-default how-i-got-here">
      <h3>howIGotHere</h3>
      <p class="content-text">Although I earned a B.S. in apparel and textile design, I taught myself graphic design and worked in publishing and print for many years. Back then, I got my feet wet in web design and learned basic HTML and CSS while building my own self-promotional website. But recently I've fallen in love with the challenge of learning to code and I continue to grow my skills daily.</p>
    </div>
    <div class="flex-items-default skills">
      <h3>myTechSkills</h3>
      <p class="content-text">HTML5, CSS3, JavaScript, jQuery, Sass, Git/GitHub, Backbone, Bootstrap, WordPress, Adobe Creative Suite</p>
    </div>
    <div class="flex-items-default skills-logos">
      <ul>
        <li class="fa fa-html5 fa-3x" aria-hidden="true"></li>
        <li class="fa fa-css3 fa-3x" aria-hidden="true"></li>
        <li class="icon-javascript-alt" aria-hidden="true"></li>
        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
        <!-- <div class="jquery-icon"></div>  -->
      </ul>
    </div>
  <!-- close .flex-container (ABOUT) -->
  </section>
  <section class="portfolio-flex-container">
    <div class="portfolio-flex-items-default web-portfolio-link">
      <a href="">WEB<br>PORTFOLIO</a>
    </div>
    <div class="portfolio-flex-items-default print-portfolio-link">
      <a href="">PRINT<br>PORTFOLIO</a>
    </div>
  </section>
  <!-- close .container-fluid -->
  </div>
  
<!-- close #root & .fadeIn -->
</div> 
  

