{{!< default}}


<!-- overlay to hide unstyled html -->
<div id="loadOverlay" style="background-color:white; position:absolute; top:0px; left:0px; bottom:0px; right:0px; z-index:2000;"></div>
<div class="preloader">
  <img src="/images/ring.svg" alt=""/>
</div>
<div class="fadeIn">
  <a id="home"></a>
  <div class="container-fluid main-container" style="display:none;">

    <!-- HEADER -->
    <header class="home-header">
      <div class="photo-container"></div>
      <h1 class="name">michele | WINKELMAN</h1>
      <div class="my-title">Front-End Web Developer & Designer</div>

      <nav></nav>

    </header>

      <!-- MIDDER -->
      <a id="about"></a>
      <div class="midder">
        <h1 title="Hover me!" data-maintext="eat.sleep.design(code);" data-shaketext="hire(me!)" class="hover-text">eat.sleep.design(code);</h1>
      </div>


    <!-- ABOUT -->
    <section class="flex-container">
      <div class="flex-items-default what-i-do">
        <span class="flaticon-idea center-icons-titles"></span>
        <h3 class="center-icons-titles">whatIDo</h3>
        <p class="content-text">I'm a web developer & designer who combines an aesthetic sensibility with a love for bringing designs to life with code. My current toolset includes HTML5, CSS3, JavaScript, jQuery, Bootstrap, Git + GitHub, Webpack, Heroku, & Adobe Creative Cloud. I am an avid learner and continually grow my skills.</p>
      </div>
      <div class="flex-items-default how-i-got-here">
        <span class="flaticon-compass center-icons-titles"></span>
        <h3 class="center-icons-titles">howIGotHere</h3>
        <p class="content-text">I've been designing and constructing things for as long as I can remember. After completing my degree in apparel & textile design, I taught myself graphic design which led to a 10+ year career in publishing and print. Never would I have imagined that one day I'd be designing with code.</p>
        <!-- <p class="content-text">Although I earned my degree in apparel & textile design, I taught myself graphic design which led to a 10+ year career in publishing and print. Back then, I ventured into web design and learned enough to build my own website. I had no idea that one day I would be programming and designing with code.</p> -->
      </div>
      <div class="flex-items-default why-i-love">
        <span class="flaticon-like center-icons-titles"></span>
        <h3 class="center-icons-titles">whyILoveIt</h3>
        <p class="content-text">Expanding on my design knowledge by learning to create for the web has been an exciting journey. Design and development are both about solving problems. I love the blend of the technical and the creative, and I'm inspired by the process of finding problems and creating solutions for them. </p>
      </div>

    </section>

    <!-- PRINT PORTFOLIO EMBEDDED-->
    <a id="portfolio-design"></a>
    <section class="portfolio-flex-container bg-md-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">design | PORTFOLIO</h2>
            <h3 class="section-subheading">a cross-section of recent design work</h3>
          </div>
        </div>
        <div class="row">
          <!-- PORTFOLIO #1 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/styleGuide.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-crosshairs fa-3x"></i>
                  <!-- <span class="flaticon2-multimedia center-icons-portfolio"></span> -->
                </div>
              </div>
              <img src="/images/styleguide-thumb2x.jpg" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Style Guide/Brand Proposal</h4>
              <p class="text-muted">Design & Front-End Development</p>
            </div>
          </div>
          <!-- PORTFOLIO #2 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/dametris.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-crosshairs fa-3x"></i>
                </div>
              </div>
              <img src="/images/salon-thumb-alt2-2x.jpg" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>D&#8217Ametri&#8217s Salon</h4>
              <p class="text-muted">Web Design & Development</p>
            </div>
          </div>
          <!-- PORTFOLIO #3 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/fpSurvivalGuide.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-crosshairs fa-3x"></i>
                </div>
              </div>
              <img src="/images/foster-parent-thumb2x.jpg" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Foster Parent Survival Guide</h4>
              <p class="text-muted">Branding & Visual Design</p>
            </div>
          </div>
          <!-- PORTFOLIO #4 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/offshore.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-crosshairs fa-3x"></i>
                </div>
              </div>
              <img src="/images/offshore-thumb-alt-2x.jpg" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Offshore Water Sports</h4>
              <p class="text-muted">Branding & Visual Design</p>
            </div>
          </div>
          <!-- PORTFOLIO #5 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/greatTastes.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-crosshairs fa-3x"></i>
                </div>
              </div>
              <img src="/images/greattastes-thumb2x.jpg" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Great Tastes Cookbook</h4>
              <p class="text-muted">Visual Design</p>
            </div>
          </div>
          <!-- PORTFOLIO #6 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/logoWork.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-crosshairs fa-3x"></i>
                </div>
              </div>
              <img src="/images/logos-thumb-2x.jpg" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Logo Design</h4>
              <p class="text-muted">Branding & Illustration</p>
            </div>
          </div>

        </div>
      <!-- close .container -->
      </div>
    </section>

    <!-- WEB & CODE PORTFOLIO -->
    <a id="portfolio"></a>
    <section class="portfolio-flex-container bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">code | PORTFOLIO</h2>
            <h3 class="section-subheading">a collection of JavaScript practice projects</h3>
          </div>
        </div>
        <div class="row">
          <!-- PORTFOLIO #1 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/r_todo.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-code fa-3x"></i>
                </div>
              </div>
              <img src="/images/todo-thumb2x.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Todo App</h4>
              <p class="text-muted">HTML, CSS, jQuery, React</p>
            </div>
          </div>
          <!-- PORTFOLIO #2 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/jsQuiz.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-code fa-3x"></i>
                </div>
              </div>
              <img src="/images/Quiz-thumb2x.jpg" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>JavaScript Quiz</h4>
              <p class="text-muted">JavaScript</p>
            </div>
          </div>
          <!-- PORTFOLIO #3 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/randomColors.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-code fa-3x"></i>
                </div>
              </div>
              <img src="/images/Random-Colors-thumb2x.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Random Color Generator</h4>
              <p class="text-muted">JavaScript, CSS Animation</p>
            </div>
          </div>
          <!-- PORTFOLIO #4 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/d3PieChart.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-code fa-3x"></i>
                </div>
              </div>
              <img src="/images/d3pie-thumb2x.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>D3 Pie Chart</h4>
              <p class="text-muted">SVG, JavaScript, D3.js</p>
            </div>
          </div>
          <!-- PORTFOLIO #5 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/threeExample.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-code fa-3x"></i>
                </div>
              </div>
              <img src="/images/three-thumb2x.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>3D Animation</h4>
              <p class="text-muted">Three.js, HTML5 Canvas</p>
            </div>
          </div>
          <!-- PORTFOLIO #6 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="javascript:void(0);" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-code fa-3x"></i>
                </div>
              </div>
              <img src="/images/Photo-search-thumb2x.jpg" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Flickr Photo Search</h4>
              <p class="text-muted">Coming soon!</p>
            </div>
          </div>

        </div>
      <!-- close .container -->
      </div>
    </section>

         <!-- BLOCK QUOTE -->
    <div class="block-quote">
      <blockquote>It had long since come to my attention that people of accomplishment rarely sat back and let things happen to them. They went out and happened to things.<br>
        <span class="byline">– Leonardo da Vinci</span>
      </blockquote>
    </div>

    <!-- PRINT PORTFOLIO LINK -->
    <!-- <a id="portfolio-design"></a>
    <section class="portfolio-flex-container">
      <div class="container">
        <div class="row">
          <a href="https://mwdesignwork.wordpress.com/">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">design | PORTFOLIO</h2>
            <h3 class="print-portfolio-section">click here to view my WordPress site featuring my design work</h3>
            <span class="fa fa-wordpress fa-4x wordpress" aria-hidden="true"></span>
          </div></a>
        </div>
      </div>
    </section> -->

    <!-- CONTACT ME -->
    <a id="contact-me"></a>
    <div class="contact-container">
      <h2 class="section-heading">get in touch | CONTACT</h2>
      <div class="contact-items contact">
        <ul>
          <li>
            <p>Email me</p>
            <a href="mailto:mlwinkelman@gmail.com"><span class="fa fa-envelope-o fa-2x hvr-grow" aria-hidden="true"></span></a>
          </li>
          <li>
          <p>View & download my resume</p>
          <a href="/images/mwinkelman_17_resume.pdf"><span class="fa fa-arrow-circle-o-down fa-2x hvr-grow" aria-hidden="true"></span></a>
          </li>
        </ul>
      </div>
      <div class="contact-items">
        <p class="contact-message">I'm currently on the lookout for new opportunities so please contact me if you're looking to fill a spot or need help with a project.</p>
      </div>
      <div class="contact-items">
        <p>You can find me <br> elsewhere on the web:</p><br>
        <ul>
          <li>
            <a href="https://github.com/mlwinkelman"><span class="fa fa-github fa-3x hvr-grow" aria-hidden="true"></span></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/michelewinkelman"><span class="fa fa-linkedin fa-3x hvr-grow" aria-hidden="true"></span></a>
          </li>
          <li>
            <a href="http://codepen.io/mlwinkelman/"><span class="fa fa-codepen fa-3x hvr-grow" aria-hidden="true"></span></a>
          </li>
          <li>
            <a href="https://twitter.com/m_winkelman1"><span class="fa fa-twitter fa-3x hvr-grow" aria-hidden="true"></span></a>
          </li>
        </ul>
      </div>
    </div>

     <!-- BLOCK QUOTE -->
   <!--  <div class="block-quote">
      <blockquote>It had long since come to my attention that people of accomplishment rarely sat back and let things happen to them. They went out and happened to things.<br>
        <span class="byline">– Leonardo da Vinci</span>
      </blockquote>
    </div> -->

    <!-- <section class="flex-container"> -->
    <section class="about-this-site">
      <div class="flex-items-default">
      <!-- <div class=""> -->
        <h3 class="center-icons-titles">aboutThisSite</h3>
        <p class="content-text">I designed and coded this site from scratch using HTML5, CSS3, JavaScript, jQuery, (some) Bootstrap, SVG, Handlebars, Webpack, Node.js, Git/GitHub, Heroku, Sublime Text, Atom, and Adobe Creative Cloud. I use it as an experimental space to test and try things so it's always a work in progress and may change from time to time. The fonts are Open Sans, Oswald, Roboto Slab, and Droid Serif Italic.</p>
      </div>
    </section>

    <!-- FOOTER -->
    <div class="footer-flex-container">
      <div class="footer-info-container">
        <a class="page-scroll" href="#home"><p class="name-small">michele | WINKELMAN</p></a>
        <p>&copy; 2017. All rights reserved.</p>
      </div>
      <div class="footer-info-container font-attribution">
        <p>Site made by hand by Michele Winkelman. Thanks for visiting.</p>
        <p>Photo by <a href="https://unsplash.com/@nathananderson?grid=single">Nathan Anderson. </a>Fonts by Google and <a href="http://www.flaticon.com">flaticon.com.</a><br>
        Under <a href="http://creativecommons.org/licenses/by/3.0/">CC</a>: <a data-file="like" href="http://www.flaticon.com/authors/madebyoliver">Madebyoliver</a>, <a data-file="arrows" href="http://www.flaticon.com/authors/freepik">Freepik</a>, <a data-file="idea" href="http://www.flaticon.com/authors/eucalyp">Eucalyp.</a></p>
      </div>
    </div>
  <!-- close .container-fluid & .hidden-->
  </div>

<!-- close .fadeIn -->
</div>
