{{!< default}}


<!-- overlay to hide unstyled html -->
<div id="loadOverlay" style="background-color:white; position:absolute; top:0px; left:0px; bottom:0px; right:0px; z-index:2000;"></div>
<div class="preloader">
  <img src="/images/ring.svg"/>
</div>
<div id="root" class="fadeIn">
  <div id="home" class="container-fluid main-container" style="display:none;">

    <!-- HEADER -->
    <header class="home-header">
      <div class="photo-container"></div>
      <h1 class="name">michele | WINKELMAN</h1>
      <div title="Hover me!" data-maintext="front end web developer" data-shaketext="designer" class="hover-text">FRONT END WEB DEVELOPER</div>

      <!-- TOP NAVIGATION -->
      <div class="home-nav">
        <ul>
          <li>
            <a href="#home" class="hvr-underline-from-center">Home</a>
          </li>
          <li>
            <a href="#about" class="hvr-underline-from-center">About</a>
          </li>
          <li>
            <a href="#portfolio" class="hvr-underline-from-center">Portfolio</a>
          </li>
          <li>
            <a href="#contact-me" class="hvr-underline-from-center">Contact</a>
          </li>
        </ul>
      <!-- close .home-nav -->
      </div>
    </header>

      <!-- MIDDER -->
      <div id="about" class="midder">
        <h1>eat.sleep(code);</h1>
      </div>
    
    <nav></nav>
    <!-- ABOUT -->
    <section class="flex-container">
      <!-- <div class="about-me">
        <h2>about me</h2>
      </div> -->
      <div class="flex-items-default what-i-do">
        <i class="flaticon-idea center-icons-titles"></i>
        <h3 class="center-icons-titles">whatIDo</h3>
        <p class="content-text">I am a designer pursuing a new career as a developer and am currently enrolled in a 3-month immersive JavaScript bootcamp. I am excited to leverage my 10+ years' experience in graphic design as I transition into front-end web development. My current skillset includes HTML5, CSS3, JavaScript, jQuery, Sass, Git/GitHub, Bootstrap, WordPress, & Adobe Creative Suite.</p>
      </div>
      <div class="flex-items-default why-i-love">
        <i class="flaticon-like center-icons-titles"></i>
        <h3 class="center-icons-titles">whyILoveIt</h3>
        <p class="content-text">I have always been interested in computers and I love the blend of the technical and the creative. I have an intense willingness to learn and feel most inspired when working through difficult problems to build elegant, functional design solutions. I get excited to see people care about design for the web and I'm thrilled to be part of the growing tech industry.</p>
      </div>
      <div class="flex-items-default how-i-got-here">
        <i class="flaticon-compass center-icons-titles"></i>
        <h3 class="center-icons-titles">howIGotHere</h3>
        <p class="content-text">Although I earned a B.S. in apparel and textile design, I taught myself graphic design and worked in publishing and print for many years. Back then, I got my feet wet in web design and learned basic HTML and CSS while building my own self-promotional website. But recently I've fallen in love with the challenge of learning to code. I continue to grow my skills daily.</p>
      </div>
    </section>

    <!-- PORTFOLIO -->
    <section id="portfolio" class="portfolio-flex-container bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">web & code | PORTFOLIO</h2>
            <h3 class="section-subheading">a collection of JavaScript practice projects</h3>
          </div>
        </div>
        <div class="row">
          <!-- PORTFOLIO #1 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/r_todo.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="/images/todo-thumb2x.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Todo App</h4>
              <p class="text-muted">HTML, CSS, jQuery, React</p>
            </div>
          </div>
          <!-- PORTFOLIO #2 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="http://codepen.io/mlwinkelman/full/VKXWRR/" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="/images/Quiz-thumb2x.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>JavaScript Quiz</h4>
              <p class="text-muted">JavaScript</p>
            </div>
          </div>
          <!-- PORTFOLIO #3 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="http://codepen.io/mlwinkelman/full/ALxBNY/" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="/images/Random-Colors-thumb2x.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Random Color Generator</h4>
              <p class="text-muted">JavaScript</p>
            </div>
          </div>
          <!-- PORTFOLIO #4 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/d3PieChart.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="/images/d3pie-thumb2x.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>D3 Pie Chart</h4>
              <p class="text-muted">SVG, JavaScript, D3.js</p>
            </div>
          </div>
          <!-- PORTFOLIO #5 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="/pages/threeExample.html" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="/images/three-thumb2x.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>3D Animation</h4>
              <p class="text-muted">Three.js, HTML5 Canvas</p>
            </div>
          </div>
          <!-- PORTFOLIO #6 -->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="/images/Photo-search-thumb2x.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Flickr Photo Search</h4>
              <p class="text-muted">Coming soon!</p>
            </div>
          </div>

        </div>
      <!-- close .container -->
      </div>
    </section>

    <!-- PRINT PORTFOLIO -->
    <section id="portfolio" class="portfolio-flex-container">
      <div class="container">
        <div class="row">
          <a href="https://mwdesignwork.wordpress.com/">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">design | PORTFOLIO</h2>
            <h3 class="print-portfolio-section">click here to view my design work</h3>
          </div></a>
        </div>
      </div>
    </section>
    <!-- <div class="portfolio-flex-items-default web-portfolio-link">
        <a href="">WEB<br>PORTFOLIO</a>
      </div> -->
   <!--  <div class="portfolio-flex-items-default print-portfolio-link">
      <a href="https://mwdesignwork.wordpress.com/">PRINT<br>PORTFOLIO</a>
    </div>  --> 

    <!-- CONTACT ME -->
    <div id="contact-me" class="contact-container">
      <div class="contact-items contact">
        <ul>
          <li>
            <p>Email me</p>
            <a href="mailto:mlwinkelman@gmail.com"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
          </li>
          <li>
          <p>Download my resume</p>
          <a href=""><i class="fa fa-arrow-circle-o-down fa-2x" aria-hidden="true"></i>
          </li></a>
        </ul>
      </div>
      <div class="contact-items">
        <h3>getInTouch</h3>
        <p class="contact-message">I'm currently on the lookout for new opportunities so please contact me if you're looking to fill a spot or need help with a project.</p>
      </div>
      <div class="contact-items">
        <p>You can find me <br> elsewhere on the web:</p><br>
        <ul>
          <li>
            <a href="https://github.com/mlwinkelman/Michele-JavaScript-Class"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/michelewinkelman"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="http://codepen.io/mlwinkelman/"><i class="fa fa-codepen fa-3x" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
      
    <!-- FOOTER -->
    <section class="footer-flex-container">
      <div class="footer-info-container">
        <a href="#home"><p class="name-small">michele | WINKELMAN</p></a>
        <p>&copy; 2016. All rights reserved.</p>
      </div>
      <div class="footer-info-container font-attribution">
        <p>Site made by hand by Michele Winkelman. Thanks for visiting.</p>
        <p>Fonts served up by Google and <a href="http://www.flaticon.com">flaticon.com.</a><br>
        Under <a href="http://creativecommons.org/licenses/by/3.0/">CC</a>: <a data-file="mail" href="http://www.flaticon.com/authors/iconnice">Iconnice</a>, <a data-file="like" href="http://www.flaticon.com/authors/madebyoliver">Madebyoliver</a>, <a data-file="arrows" href="http://www.flaticon.com/authors/freepik">Freepik</a>, <a data-file="idea" href="http://www.flaticon.com/authors/eucalyp">Eucalyp</a></p>
      </div>
    </section>
  <!-- close .container-fluid & .hidden-->
  </div>
  
<!-- close #root & .fadeIn -->
</div> 
  

