{{!< default}}
<div id="root">
  <header class="home-header">
    <img src="/images/background-header2.jpeg">
    <h1 class="name">Michele Winkelman</h1>
    <h2 class="designer">Designer & Front-End Developer</h2>
  <nav></nav>
  </header>
  
</div>
